<h1>New gif</h1>
<ul>
  <%= form_for @gif do |f| %>
    <% f.object.errors.each do |att, msg| %>
      <div class="errors">
        <%= msg %>
      </div>
      <li>
    <% end %>
    <%= f.label :url %>
    </li>
    <li>
      <%= f.text_field :url %>
      <% if @gif.errors[:url] %>
        <div class="errors"><%= @gif.errors[:url].first %></div>
      <% end %>
    </li>
    <li>
      <%= f.label :description %>
    </li>
    <li>
      <%= f.text_field :description %>
      <% if @gif.errors[:description] %>
        <div class="errors"><%= @gif.errors[:description].first %></div>
      <% end %>
    </li>

    <%= f.submit "Create gif" %>
  <% end %>
</ul>