<h2>Welcome</h2>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<%= link_to "About", about_path %>

<%= link_to "New gif", new_gif_path %>
<ul>
<%= @gifs.each do |gif| %>
  <li><img src="<%= gif.url %>"><li>
  <li><%= gif.description %></li>
<% end %>